<div class="container">
    <div class="leftbar">
        <span class="img-icon mb-2">
            <img src="assets/icon.png" alt="Icon" width="16" height="16" />
        </span>
        <span class="mb-2">
            <lucide-icon class="icon" [img]="House"></lucide-icon>
        </span>
        <span class="mb-2">
            <lucide-icon class="icon" [img]="ChartColumnIncreasing"></lucide-icon>
        </span>
        <span class="mb-2">
            <lucide-icon class="icon" [img]="Layers"></lucide-icon>
        </span>
        <span class="mb-2">
            <lucide-icon class="icon" [img]="CopyCheck"></lucide-icon>
        </span>
        <span class="mb-2">
            <lucide-icon class="icon" [img]="ChartPie"></lucide-icon>
        </span>
        <span class="mb-2">
            <lucide-icon class="icon" [img]="Users"></lucide-icon>
        </span>
    </div>

    <div class="rightbar">
        <div class="topbar">
            <div class="row">
                <div class="welcome">
                    <h1 class="mt-5">Welcome back, Olivia</h1>
                </div>

                <div class="dashboard-toolbar">
                    <div class="cursor-pointer">
                        <lucide-icon class="icon search-icon" [img]="Search"></lucide-icon>
                    </div>
                    <button class="btn"><lucide-icon class="icon btn-icon"
                            [img]="Settings2"></lucide-icon>Customize</button>
                    <button class="btn"><lucide-icon class="icon btn-icon"
                            [img]="CloudDownload"></lucide-icon>Export</button>
                </div>
            </div>
        </div>

        <div class="graphs">
            <div class="row">
                <div class="breakdown">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="chart-title">
                                    <div class="box mr-2">
                                        <lucide-icon class="box-icon" [img]="Box"></lucide-icon>
                                    </div>
                                    <div>
                                        <h3 class="mb-1">Vendor breakdown</h3>
                                        <p class="mb-0">Keep track of vendors and their security ratings.</p>
                                    </div>
                                </div>

                                <div class="align-top">
                                    <lucide-icon class="icon ellipse" [img]="EllipsisVertical"></lucide-icon>
                                </div>
                            </div>
                        </div>

                        <div class="card-body pb-2 pt-2">
                            <div id="column-container" class="bar-container"></div>

                            <!-- <div id="barChart">
                                <apx-chart *ngIf="barChartOptions" [id]="'barChart'" [series]="barChartOptions.series"
                                    [chart]="barChartOptions.chart" [xaxis]="barChartOptions.xaxis"
                                    [yaxis]="barChartOptions.yaxis" [plotOptions]="barChartOptions.plotOptions"
                                    [dataLabels]="barChartOptions.dataLabels" [colors]="barChartOptions.colors"
                                    [title]="barChartOptions.title">
                                </apx-chart>
                            </div> -->
                        </div>

                        <div class="card-footer text-end">
                            <button class="btn">View full report</button>
                        </div>
                    </div>
                </div>

                <div class="monitored">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="chart-title">
                                    <div>
                                        <h3 class="mb-1">Vendors monitored</h3>
                                        <p class="mb-0">You're using 80% of available spots.</p>
                                    </div>
                                </div>

                                <div class="align-top">
                                    <lucide-icon class="icon ellipse" [img]="EllipsisVertical"></lucide-icon>
                                </div>
                            </div>
                        </div>

                        <div class="card-body p-0">
                            <div class="radial-container">
                                <apx-chart [series]="radialChartOptions.series" [chart]="radialChartOptions.chart"
                                    [plotOptions]="radialChartOptions.plotOptions" [labels]="radialChartOptions.labels"
                                    [fill]="radialChartOptions.fill" [stroke]="radialChartOptions.stroke">
                                </apx-chart>
                            </div>
                            <div class="pl-6 pe-6 mb-4">
                                <h5>
                                    You've almost reached your limit
                                </h5>
                                <p>
                                    You have used 80% of your available spots.<br/>
                                    Upgrade plan to monitor more vendors.
                                </p>
                            </div>
                        </div>

                        <div class="card-footer text-end">
                            <button class="btn">
                                <lucide-icon class="icon btn-icon" [img]="Zap"></lucide-icon>
                                Upgrade plan
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>